
@{
    ViewBag.Title = "Galeria";
    Layout = "~/Views/Shared/Design.cshtml";
}

<div class="galeria">
    <div class="fotos-galeria">
        <img src="~/Imagenes/cutting-mustache.jpg" class="ft1-galeria" />
        <img src="~/Imagenes/in-the-country.jpg" class="ft2-galeria" />
        <img src="~/Imagenes/mustache1.jpg" class="ft3-galeria" />

    </div>

    <div class="fotos-galeria-2">
        <img src="~/Imagenes/mustache3.jpg" class="ft4-galeria" />
        <img src="~/Imagenes/mustache4.jpg" class="ft5-galeria" />
        <img src="~/Imagenes/mustache-brothers.jpg" class="ft6-galeria" />
    </div>
</div>
