
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/Design.cshtml";
}
<center>
    <div class="detalles-inicio">
        <div class="detalle-foto">
            <h1>THE BEACON TO ALL MANKIND</h1>
            <h2>OUT WEBSITE TEMPLATES ARE CREATED WITH</h2>
            <h3>INSPIRATION CHECKED FOR QUALITY ARE ORIGINALITY</h3>
            <h4>AND METICULOUSYLY SLICED AND CODED</h4>
            <p class="boton">READ MORE</p>
        </div>
    </div>

    <content>
        <div class="detalles-inicio-2">
            <div class="fotos-inicio">

                <section class="detalle-1ra-ft">
                    <img src="~/Imagenes/mustache7.jpg" class="ft-1" />
                    <h1>THE FATHER</h1>
                </section>

                <section class="detalle-2da-ft">
                    <img src="~/Imagenes/the-actor.jpg" class="ft-2" />
                    <h1>THE ACTOR</h1>
                </section>

                <section class="detalle-3ra-ft">
                    <img src="~/Imagenes/the-nerd.jpg" class="ft-3" />
                    <h1>THE NERD</h1>
                </section>
            </div>
        </div>
    </content>
</center>
